{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ profile_user.username }}'s Profile ID {{ profile_user.pk }}</h1>
    <p>Siguiendo: {{ profile.followers.count }}</p>
    <p>Seguidores: {{ profile_user.following.count }}</p>

    {% if request.user != profile_user %}
        <form method="post" action="{% url 'toggle_follow' profile_user.username %}">
            {% csrf_token %}
            {% if is_following %}
                <button type="submit">Unfollow</button>
            {% else %}
                <button type="submit">Follow</button>
            {% endif %}
        </form>
    {% endif %}

    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
            <div id="contenedor-{{ post.id }}-{{ post.user }}" style="border: 1px solid black; margin: 1vh; padding: 0vh 1vh 1vh 1vh;">
                <a href="{% url 'profile_view' username=post.user %}"><p>Created by: {{ post.user }}</p></a>
                <p id="post{{ post.id }}-{{ post.user }}" style="word-wrap: break-word;">{{ post.content }}</p>
                <p>Date: {{ post.created }}</p>
                <p id="likes-post{{ post.id }}">Likes: {{ post.total_likes }}</p>
                <button id="boton-like-post{{ post.id }}" class="boton-estandar btn-link-global" onclick="Like('{{ post.id }}')">
                    Like
                </button>
                {% if request.user == post.user %}
                    <button id="boton-editar-post{{ post.id }}-{{ post.user }}" class="boton-estandar" onclick="Editar('post{{ post.id }}-{{ post.user }}')">Editar</button>
                {% endif %}
            </div>
        {% endfor %}
    </ul>
{% endblock %}