<!DOCTYPE html>
<html lang="es-mx">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perritos cartilla</title>
    <link rel="stylesheet" href="{% static 'cartilla/global.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% block head %}
    {% endblock %}
    <script src="{% static 'cartilla/global.js' %}"></script>
</head>
<body id="body-layout">
    <header>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>    
        <h1 id="layout-index-btn" class="button">Perritos cartilla</h1>
        <ul>
            {% if user.is_authenticated %}
                <li class="upper">Welcome, {{ user.username }}!</li>
                <li onclick="location.href=`{% url 'logout' %}`" class="button">Logout</li>
                
            {% else %}
                <li id="layout-login-btn" class="button">Login</li>
            {% endif %}        
            <li id="layout-characteristics-btn" class="button">Characteristics</li>
            <li id="layout-faq-btn" class="button">FAQ</li>
        </ul>
    </header>
    {% block body %}

    {% endblock %}
    <footer>
        <h3>All rigths reserverd</h3>
        {% if user.is_authenticated %}
        <ul>
            <li class="button" onclick="location.href=`{% url 'veteri' %}`">Veterinarians</li>
            <li class="button"> Messages</li>
        </ul>
        {% endif %}
    </footer>
</body>
</html>