{% extends "cartilla/layout.html" %}
{% load static %}

{% block head %}
<!-- <script src="{% static 'cartilla/login.js' %}" defer></script> -->
{% endblock %}

{% block body %}
<form id="login-form" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <h1>Login!</h1>
    <input type="text" name="username" id="login-username" placeholder="USERNAME">
    <input type="password" name="password" id="login-password" placeholder="PASSWORD">
    <input type="submit" value="Login">
    {% if message %}
        {{ message }}
    {% endif %}
</form>

<h3 id="login-register-container">Do yo have'tn account? <strong id="login-register" onclick="location.href=`{% url 'register' 'none' %}`">REGISTER HERE!</strong></h3>
{% endblock %}