{% extends "cartilla/layout.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'cartilla/register_pet.js' %}"></script>
{% endblock %}

{% block body %}
    <form action="{% url 'register_pet' %}" method="post" class="generic-container">
        {% csrf_token %}
        <input type="text" name="name" id="" placeholder="Name" required>
        <select name="kind" required>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="other">Other</option>
        </select>
        {% if message %}
            {{ message }}
        {% endif %}
        <input type="submit" value="Register!">
    </form>
{% endblock %}