{% extends "auctions/layout.html" %}
{% block body %}
    <h2>Selected category: {{ category }}</h2>
    {% for element in list %}
    <a href="/element/{{ element.id }}" style="text-decoration: none; color: inherit;">
        <div style="margin: 20px; display: flex; flex-direction: column; border-style: solid; border-color: gray;">
            <p>Title: {{ element.title }}</p>
            <p>Description: {{ element.text }}</p>
            <p>Starting bid: {{ element.starting_bid }}</p>
            <img src="{{ element.image_url }}" alt="Image not exist" width="30%" style="align-self: center;">
        </div>
    </a>
    {% endfor %}
{% endblock %}