{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My listings</h2>
    {% for dato in datos %}
        <a href="element/{{ dato.id }}" style="text-decoration: none; color: inherit;">
            <div style="margin: 20px; display: flex; flex-direction: row; border-style: solid; border-color: gray; height: 20%;">
                <img src="{{ dato.image_url }}" alt="Image not exist" width="20%" style="align-self: center;">
                <div>
                    <h2>{{ dato.title }}</h2>
                    <h3>Price: {{ dato.starting_bid }}</h3>
                    <p>Description: {{ dato.text }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
    <h2>Winner</h2>
    {% for win in winner %}
        <a href="element/{{ win.subasta.id }}" style="text-decoration: none; color: inherit;">
            <div style="margin: 20px; display: flex; flex-direction: row; border-style: solid; border-color: gray; height: 20%;">
                <img src="{{ win.subasta.image_url }}" alt="Image not exist" width="20%" style="align-self: center;">
                <div>
                    <h2>{{ win.subasta.title }}</h2>
                    <h3>Price: {{ win.subasta.text }}</h3>
                    <p>Starting bid: {{ win.subasta.starting_bid }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}